.todo-list-modal {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    background-color: rgba(#1c2437, 0.6);
    z-index: 10;
}

.todo-list-modal-form {
    opacity: 1;
}

.todo-list-modal-container {
    width: 400px;
    background-color: white;
    padding: 15px;
    margin-top: -50px;
    opacity: 1;
    z-index: 100;
}

.todo-list-modal-exit {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        display: flex;
        text-align: center;
        color: var(--text-color);
    }
}

.todo-list-modal-form {
    width: 100%;
}

.todo-list-modal-input {
    width: 90%;
    padding: 10px 14px;
    font-size: 16px;
    border: 1px solid var(--text-color);
    border-radius: 10px;
    outline: none;
    margin: 10px 0;

    &:hover, &:active, &:focus {
        border-color: var(--active-component);
    }
}

.todo-list-modal-textarea {
    height: 100px;
}

.todo-list-modal-is-favorite {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    color: var(--text-color);

    p {
        margin-right: 20px;
    }
}

.todo-list-modal-button {
    display: flex;
    
    button {
        width: 100%;
    }
}

.todo-list-delete-modal {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(#1c2437, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    z-index: 10;
}

.todo-list-delete-modal-content {
    width: 400px;
    background-color: white;
    padding: 10px 20px;
}

.todo-list-delete-modal-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px dashed var(--text-color);
}

.todo-list-delete-modal-body {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
}

.todo-list-delete-modal-footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
        width: auto;
        margin: 10px 5px;
        color: white;
        &:nth-child(1) {
            background-color: red;
        }

        &:nth-child(2) {
            background-color: var(--text-color);
        }
    }
}