.todo-list-add-button-input {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed var(--text-color);
    border-radius: 10px;
    color: var(--text-color);
    cursor: pointer;
    height: 300px;

    &:hover {
        background-color: var(--add-button-input);
        color: white;
    }
}

.todo-list-add-button-input-dark:hover {
    background-color: var(--add-button-input-dark);
}