* , body {
    margin: 0;
    padding: 0;
}


:root {
    --active-component: #5b21b6;
    --non-active-component: #141e32;
    --middle-background: #10172a;
    --middle-background-white: #e2e8f0;
    --left-right-background: #141e32;
    --left-right-background-white: #f1f5f9;
}